
<section class="mechanic_info">
  <h1> Mechanic <%= @mechanic.name %> Show Page </h1>
  <p> Years of Experience: <%= @mechanic.years_experience %> </p>
  <p> </p>
</section>

<section class="mechanic_rides">
  <h1> Rides <%= @mechanic.name %> is currently working on </h1>
  <ul>
    <% @mechanic.rides.each do |ride| %>
      <li><p> <%= ride.name %> </p></li>
    <% end %>
  </ul>
</section>